.policy {
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;

    .delivery {
        display: flex;
        line-height: 18px;
        gap: 12px;

        & .free-delivery{
            display: flex;
            gap: 6px;
        }

        & .freetext {
            color: #626262;
            font-size: 12px;
            cursor: pointer;
        }

        

        & .slach {
            color: #626262;
            font-size: 22px;
        }

    }
}