.logic {
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;

    //margin-left: auto;
    .social {
        display: flex;
        line-height: 18px;
        margin-left: auto;

        & .login {
            color: #626262;
            font-size: 12px;
            cursor: pointer;
        }

        & .divider {
            gap: 100px;
        }

        & .follow {
            color: #626262;
            font-size: 12px;
            cursor: pointer;
        }

        gap: 10px;
    }
}