@font-face {
    font-family: Syne-Bold;
    src: url('./assest/fonts/Syne-Bold.ttf');

}
@font-face {
    font-family: Syne-ExtraBold;
    src: url('./assest/fonts/Syne-ExtraBold.ttf');
    
}
@font-face {
    font-family: Syne-Medium;
    src: url('./assest/fonts/Syne-Medium.ttf');
    
}
@font-face {
    font-family: Syne-Regular;
    src: url('./assest/fonts/Syne-Regular.ttf');
    
}
@font-face {
    font-family: Syne-SemiBold;
    src: url('./assest/fonts/Syne-SemiBold.ttf');
    
}
@font-face {
    font-family: Syne-VariableFont_wght;
    src: url('./assest/fonts/Syne-VariableFont_wght.ttf');
    
}
@font-face {
    font-family: Work-Sans-Regular;
    src: url('./assest/fonts/work-sans.regular.ttf');
    
}

:root {
    --font-family: Syne-Regular, 'sans-serif';
    --font-family-regular: 'Syne-Regular', 'sans-serif';
    --font-family-Bold: 'Syne-Bold', 'sans-serif';
    --font-family-ExtraBold: 'Syne-ExtraBold', 'sans-serif';
    --font-family-Medium: 'Syne-Medium', 'sans-serif';
    --font-family-SemiBold: 'Syne-SemiBold', 'sans-serif';
    --font-family-VariableFont_wght: 'Syne-VariableFont_wght', 'sans-serif';

    // work sans
    --Work-Sans-Regular: 'Work-Sans-Regular', 'sans-serif';
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f6f9;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// custom Scrollar

/* width */

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #eee;
}

@media only screen and (max-width: 1345px) {
    html {
        zoom: 0.9;
    }
}
html,
body,
#root,
#root>.routes-container {
    height: 100%;
}
html,
body,
#root,
#root>.routes-container {
    height: 100%;
}