.header-navigation {
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    opacity: 0.89;
    flex-shrink: 0;
    background-color: black;

    & .navigation-wrapper {

        ul {
            display: flex;
            gap: 106px;

            li {
                list-style: none;

                a {
                    // width: 71px;
                    height: 28px;
                    flex-shrink: 0;
                    color: #FFF;
                    font-family: var(--Work-Sans-Regular);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: none;
                }
            }
        }
    }
}